@import url(cardback.css);
/* @import url(dark-theme.css); */
@import url(cyber-theme.css);
/* @import url(default-theme.css); */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  width: 100vw;
  height: 100vh;
  /*====================================================*/
  /*==================Fonts========================*/
  font-size: 18px;
  font-family: var(--font);
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}  */

body,
main {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}
main {
  display: grid;
  grid-template-columns: 1fr;
}

.gradient_bkg_wrapper {
  width: 100%;
  height: 35vh;
  background: linear-gradient(
    135deg,
    var(--darkest) 10%,
    var(--middle) 50%,
    var(--lightest) 53%,
    var(--middle) 70%,
    var(--darkest) 95%
  );
}
.filter_box {
  width: 100%;
  height: 100%;
  background: var(--filter);
  backdrop-filter: blur(30px);
  display: block;
}

.content_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 70vh;
  place-content: center;
  background: var(--White-main);
}
/*===============================================*/
/*=================Cards==default=====================*/
/*===============================================*/
:is(article) p {
  color: var(--White-main);
  text-transform: uppercase;
  font-weight: 200;
  font-size: 0.6rem;
}
.cards {
  position: relative;
  width: 90%;
  height: 220px;
  margin-block: -13.5rem 3rem;

  margin-inline: auto;
}
.card_front,
.card_back {
  border-radius: 0.5rem;
  width: 90%;
  max-width: 330px;
  height: 75%;

  box-shadow: 10px 10px 15px var(--shadow-cards);
}
.card_front {
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: red;
  position: absolute;
  top: 40%;
  left: 0%;
  margin-inline: auto;
  /* margin-top:-3.8rem; */
  padding: 1rem;
  background: linear-gradient(
    135deg,
    var(--darkest) 10%,
    var(--middle) 50%,
    var(--lightest) 53%,
    var(--middle) 70%,
    var(--darkest) 95%
  );

  border-top: 1px solid var(--card-light);
  border-left: 1px solid var(--card-light);
}

.card_back {
  position: absolute;
  top: 0%;
  left: 10%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--clr-card-bkg);

  border-top: 1px solid var(--card-light);
  border-left: 1px solid var(--card-light);
}
#prev_cardcvc {
  padding-right: 0.5rem;
}
/*======================================================*/
/*============== Form Field=============================*/
/*======================================================*/
.form_field_wrapper {
  width: 100%;
}
#confirm_form {
  width: 90%;
  margin-inline: auto;
}
#confirm_form p {
  margin: 0.6rem 0 0.3rem 0;
}
form input[type="text"] {
  all: unset;
  border: 1px solid var(--Light-grayish-violet);
  width: 100%;
  height: 45px;
  border-radius: 7px;
  text-align: start;

  font-size: 1rem;
}
/*===========================================*/
/*=======input text field===========*/

input[type="text"]::placeholder {
  color: var(--input-font);
  font-weight: 500;
  text-transform: none;
  padding-left: 0.8rem;
}

input[type="text"]:focus {
  border: 1px solid var(--active-input-border);
  color: var(--active-input-border);
  font-weight: 500;
  background: var(--input-focus);
  padding-left: 0.5rem;
}
form:has(p) {
  color: var(--basic-font-color);
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.year_month_text {
  all: unset;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-bottom: 1rem;
}
.year_month_text > span {
  width: 100%;
}
#month,
#year {
  width: 40%;
}

#year {
  margin-left: 0.5rem;
}
/*==========================================*/
/*=============Card Valid/Invalid=======================*/
/*==========================================*/
#card_holder:not(:placeholder-shown):invalid,
#card_number:not(:placeholder-shown):invalid {
  color: var(--red-error);
}
#card_holder:focus:invalid,
#card_number:focus:invalid {
  border-color: var(--red-error);
}
#card_holder:focus:invalid + .wrong,
#card_number:focus:invalid + .wrong {
  opacity: 1;
}
.wrong {
  color: var(--red-error);
  font-size: 0.6rem;
  opacity: 0;
}
#year:focus:invalid,
#month:focus:invalid,
#card_cvc:focus:invalid {
  border-color: var(--red-error);
}
#year:focus:invalid ~ .wrong,
#month:focus:invalid ~ .wrong,
#card_cvc:focus:invalid ~ .wrong {
  opacity: 1;
}
input[type="text"]:valid {
  border-color: var(--input-valid);
  color: var(--input-valid);
  padding-left: 0.4rem;
}
/*==========================================*/
/*=============Confirm Button=======================*/
/*==========================================*/

#confirm_button,
#continue_button {
  all: unset;
  width: 100%;
  padding-block: 0.6rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: none;
  color: var(--White-main);
  background: var(--Very-dark-violet);
  border-radius: var(--radius);
}

#confirm_button:hover,
#continue_button:hover {
  background: var(--active-input-border);
}

/*=================================================*/
/*==============Fin Screen=====================*/
/*=================================================*/

.fin_screen {
  background: var(--fin-clr);
  width: 100%;
  height: 52%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;

  top: 47%;
  left: 0;
  translate: -100% 0;
  transition: 0.5s;
}
.icon {
  margin-inline: auto;
  position: relative;
  width: 90px;
  height: 90px;
  background: linear-gradient(to bottom, var(--darkest), var(--darkest-end));
  border-radius: 100%;
  margin-bottom: 2rem;
}
.icon::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background: var(--White-main);
  clip-path: polygon(0% 60%, 40% 100%, 100% 3%, 90% 0%, 37% 85%, 3% 50%);
}
.fin_header,
.fin_text {
  letter-spacing: 0.15rem;
  font-weight: 600;
  width: 100%;
  font-size: 2rem;
  text-align: center;
}
.fin_header {
  color: var(--basic-font-color);
  text-transform: uppercase;
  margin-bottom: 1.3rem;
}
.fin_text {
  letter-spacing: 0.1rem;
  text-transform: none;
  color: var(--Dark-grayish-violet);
  font-size: 0.9rem;
  padding-bottom: 2rem;
}

#continue_button {
  position: absolute;
  top: 85.5%;
  left: 5%;
  width: 90%;
  margin-inline: auto;
}

#confirm_button:active ~ .fin_screen {
  translate: 0 0;
}
#continue_button:active > .fin_screen {
  scale: 0;
}

@media only screen and (min-width: 1300px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
  }
  .gradient_bkg_wrapper {
    width: 25vw;
    height: 100%;

    display: block;
  }
  .content_wrapper {
    display: flex;
    align-items: center;

    width: 75vw;
    height: 100%;
  }
  .cards {
    all: unset;
    width: 100%;
    height: 80%;

    margin-block: auto;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -25rem;
  }
  .card_front,
  .card_back {
    all: unset;
    position: absolute;
    border-radius: 0.5rem;
    width: 50%;
    height: 30%;
    box-shadow: 15px 15px 55px var(--shadow-cards);
  }
  .card_front {
    top: 7%;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-inline: auto;
    padding: 1rem;
    background: linear-gradient(
      135deg,
      var(--darkest) 10%,
      var(--middle) 50%,
      var(--lightest) 53%,
      var(--middle) 70%,
      var(--darkest) 95%
    );

    border-top: 1px solid var(--card-light);
    border-left: 1px solid var(--card-light);
  }
  .circle {
    margin-bottom: 4rem;
  }
  #prev_cardnumber {
    font-size: 1.8rem;
  }
  .big_circle {
    width: 40px;
    height: 40px;
  }
  .small_circle {
    width: 20px;
    height: 20px;
  }
  .card_back {
    height: 34%;
    top: 47%;
    left: 35%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--clr-card-bkg);

    border-top: 1px solid var(--card-light);
    border-left: 1px solid var(--card-light);
  }
  .form_field_wrapper {
    margin-block: auto;
    height: 40%;
    width: 80%;
    margin-right: 25%;
  }
  .fin_screen {
    background: var(--White-main);
    width: 31.5%;
    height: 55%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 15.6%;
    left: 47.8%;
    translate: 0 0;
    scale: 0;
    transition: 0s;
  }
  .icon {
    margin-inline: auto;
  }
  #confirm_form {
    width: 80%;
    margin-inline: auto;
  }

  #confirm_button:active ~ .fin_screen {
    scale: 1;
  }
}
